/* ==========================================================================
    Style Button
========================================================================== */
$preset-purple-color: #ad8bbf;
$preset-crimson-color: #e86211;
$preset-gray-color: #909090;
.btn, button, .button, input[type="submit"] {
    line-height: 1;
    display: inline-block;
    outline: medium none;
    text-decoration: none;
    color: #333;
    @include transition(all 300ms linear 0ms);
    font-weight: 400;
}

.btn {
}

.btn:hover, button:hover, .button:hover, input[type="submit"]:hover, .btn:focus, button:focus, .button:focus, input[type="submit"]:focus {
    outline: medium none;
    text-decoration: none;
}

/* Button default */
.btn {
    display: inline-block;
    padding: 12px 32px 10px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    text-transform: uppercase;
	@extend .museo_slab_300;
}

.btn-default {
    color: #4b4b4b;
    z-index: 1;
    position: relative;
	border: 1px solid #303030;
	@include transition(border-color 0.4s, color 0.4s);
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 101%;
		height: 100%;
		background: #303030;
		z-index: -1;
		opacity: 0;
		@include transform(scale3d(0.7, 1, 1));
		-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
		transition: transform 0.4s, opacity 0.4s;
		-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
		transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	}
	&:hover {
		color: #fff;
		&:before {
			opacity: 1;
			@include transform(translate3d(0, 0, 0));
		}
	}
}
/* ==========================================================================
    End Style Button
========================================================================== */