/* ==========================================================================
    Start Style Footer
========================================================================== */
footer {
    position: relative;
	h4, .wg-title {
		font-size: 28px;
		color: #fff;
		font-weight: bold;
		line-height: 1.1;
	}
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}
}
.yeah-footer-row-1{
	margin-bottom: 50px;
	.available-widget{
		border: 1px solid #e0e0e0;
		padding: 26px 36px;
		min-height: 146px;
		@include breakpoint-max(768px) {
			padding-left: 0;
			padding-right: 0;
		}
		i{
			float: left;
			font-size: 80px;
			margin: 2px 6px 0 0;
		}
	}
	.place-order-widget{
		border: 1px solid #e0e0e0;
		padding: 26px 36px;
		min-height: 146px;
		@include breakpoint-max(768px) {
			padding-left: 0;
			padding-right: 0;
		}
		i {
			float: left;
			font-size: 70px;
			margin: 14px 9px 0 0;
		}
		p span {
			display: inline-block;
		}
		.tag{
			background: $primary_color;
			color: #fff;
			font-size: 28px;
			display: inline-block;
			padding: 2.7px 48px;
			position: relative;
			font-weight: 300;
			@extend .google-font-1;
			&:after {
				position: absolute;
				right: -36px;
				content: "";
				top: 0;
				background: url(../images/tag-arrow.png);
				width: 36px;
				height: 45px;
			}
		}
	}
	p{
		padding-left: 70px;
		font-size: 32px;
		margin: 0;
		@extend .museo_slab_100;
		span {
			color: $primary_color;
			font-size: 22px;
			display: block;
			@extend .google-font-1;
		}
		@include breakpoint-max(768px) {
			padding-left: 80px;
		}
	}
}
.yeah-footer-row-2 {
	padding: 60px 0;
    background: #1b1b1b;
    color: #fff;
    border-bottom: 6px solid #171717;
	p {
		line-height: 24px;
		color: #f0f0f0;
		font-size: 16px;
	}
	@include breakpoint-max(768px) {
		.row > div {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.yeah-footer-row-3 {
	padding: 60px 0;
    background: #222222;
	ul {
		li {
			padding: 3px 0 3px 28px;
			position: relative;
			a {
				color: #f0f0f0;
				display: block;
				font-size: 16px;
				@include transition(all 500ms ease 0s);
				@extend .google-font-1;
			}
			&:after{
				content: "\f105";
				font-family: "FontAwesome";
				font-size: 19px;
				position: absolute;
				left: 8px;
				top: 50%;
				color: #f0f0f0;
				@include transform(translateY(-50%));
				@include transition(all 500ms ease 0s);
			}
			&:hover {
				&:after {
					left: 16px;
				}
			}
		}
	}
	@include breakpoint-max(768px) {
		.row > div {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.yeah-footer-banners {
	padding: 25px 0;
    background: #171717;
	text-align: center;
}
.yeah-footer-bottom {
	padding: 20px 0;
    background: #222222;
    font-size: 14px;
    color: #9b9b9b;
    line-height: 28px;
	@include breakpoint-min(768px){
		.row {
			display: flex;
			align-items: center;
		}
	}
	.copyright{
        font-size: 12px;
		text-transform: uppercase;
    }
}
.copyright {
	font-size: 16px;
	color: #767676;
    padding: 6px 0 0;
	margin: 0;
}
/* End Widget Categories */
footer.entry-meta {
    font-size: 13px;
    line-height: 1.846153846;
    color: #757575;
    margin: 0;
    text-align: center;
    clear: both;
}
/* Back To Top */
.back_to_top {
    color: #cdcdcd;
    height: auto;
    position: fixed;
    bottom: -40px;
    margin: 0;
    z-index: 10000;
    -webkit-transition: all 1s ease 1s;
    -moz-transition: all 1s ease 1s;
    -o-transition: all 1s ease 1s;
    transition: all 1s ease 1s;
    right: 25px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    @include border-radius(50%);
    border: 2px solid #e8e8e8;
    &.on {
        opacity: 1;
        filter: alpha(opacity=100);
        display:block;
        bottom:10px;
    }
}
#back_to_top span {
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
    @include transition(all .2s ease 0s);
    @include border-radius(50%);
    background:rgba(0, 0, 0, 0.10);
    display: block;
    text-align: center;
    color: #b0b0b0;
    &:hover {
        background:rgba(0, 0, 0, 0.60);
        color:#fff;
    }
    i {
        font-size: 15px;
        @include transition(all .2s ease 0s);
        line-height: 42px;
    }
}
/* End Back To Top */
/* ==========================================================================
    End Style Footer
========================================================================== */