/* ==========================================================================
   [Start] All Style Form
========================================================================== */
input[type='text'],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea, select {
    color: #626262;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 17px;
    border: 1px solid #b1b1b1;
    width: 100%;
    @include border-radius(0);
    line-height: normal;
}

textarea {
    height: 200px;
    max-height: 200px;
    max-width: 100%;
}
input[type='text']:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
textarea:focus {
    border: 1px solid #b1b1b1;
    background-color: inherit;
}

.form-group {
    margin-bottom: 10px;
}
/** Contact Form 7 */
.wpcf7-form {
    .wpcf7-form-item {
        margin-bottom: 24px;
    }
    input[type='text'],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    textarea, select {
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
        padding: 10px 5px;
        border: 1px solid #b1b1b1;
        width: 100%;
        height: 49px;
        @include border-radius(0);
        line-height: normal;
        background-color: transparent;
        margin-bottom: 15px;
        @extend .font-second;
        font-style: italic;
    }
    textarea {
        height: 150px;
    }
    .form-action {
        text-align: right;
        .wpcf7-form-control {
            float: right;
        }
		.wpcf7-submit{
			letter-spacing: 0.4em;
			font-size: 14px;
			padding: 19px 38px ;
			line-height: 1.1;
			&:hover, &:focus{
				background: #fff !important;
			}
		}
    }
    .wpcf7-form-control-wrap {
        display: block;
        .wpcf7-textarea + .wpcf7-not-valid-tip{
            bottom: -1px;
        }
    }
    .wpcf7-not-valid-tip {
        font-size: 12px;
        position: absolute;
        right: 15px;
        bottom: 3px;
        color: $primary_color;
    }
    .wpcf7-validation-errors {
        display: block;
        text-align: center;
        margin: 20px 0 0;
        border: 1px solid $primary_color;
        color: #FFF;
    }
    .wpcf7-response-output {
        text-align: center;
    }
}

/* ==========================================================================
   [End] All Style Form
========================================================================== */