/* ==========================================================================
    Style Main Menu
========================================================================== */
#zo-header-navigation {
    position: static;
    .main-navigation {
        ul.ping-right {
            left: auto;
            right: 100%;
        }
        ul.ping-left {
            left: 100%;
            right: auto;
        }
		.menu-main-menu { 
			> li {
				background: #fff;
				outline: 0 none;
				text-decoration: none;
				&:nth-child(1){
					border-top: 5px solid #f16250;
				}
				&:nth-child(2){
					border-top: 5px solid #f6c815;
				}
				&:nth-child(3){
					border-top: 5px solid #768492;
				}
				&:nth-child(4){
					border-top: 5px solid #98d070;
				}
				&:nth-child(5){
					border-top: 5px solid #fbaf70;
				}
				&:nth-child(6){
					border-top: 5px solid #f58790;
				}
				&:nth-child(7){
					border-top: 5px solid #0abfd9;
				}
				&:nth-child(8){
					border-top: 5px solid #ecc26f;
				}
			}
		}
    }
	.menu-sreach{
		form {
			margin: 0;
		}
	}
}


/*
-----> Minimum width of 992 pixels.
*/
/**
Menu Default
======================================================
*/
@media screen and (min-width: 993px) {
    #menu-mobile {
        display: none;
    }
    #zo-header-navigation.collapse {
        display: block;
    }
    #zo-header-navigation .main-navigation {
        div.nav-menu > ul {
            display: inline-block !important;
            width: 100%;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-indent: 0;
            li {
                position: relative;
                a {
                    display: inline-block;
                    white-space: nowrap;
                    @include transition(all 420ms linear 0ms);
                }
            }
        }
        .menu-main-menu {
			margin-top: -5px;
            > li {
                vertical-align: top;
                @include transition(all 420ms linear 0ms);
				border-left: 1px solid #c2c2c2;
                > a {
                    position: relative;
                    text-align: center;
                    line-height: normal;
                    @include transition(all 420ms linear 0ms);
                    i {
                        display: block;
                        width: 100%;
                        line-height: 0;
                        margin-bottom: 6px;
                        @include transition(all 420ms linear 0ms);
                        + .menu-title {
                            @include transform(translateY(25px));
                            display: block;
                        }
                    }
                }
                &:last-child {
					border-right: 1px solid #c2c2c2;
                    > a {
                        padding-right: 0;
                    }
                }
                &.menu-item-has-children {
                    position: relative;
                    > ul.sub-menu {
                        margin-top: 24px;
                        background-color: #141414;
                        @include transition(all 0.4s ease 0s);
						&.current-menu-parent, &.current-menu-ancestor{
							> a{
								color: $primary_color;
							}
						}
                        .sub-menu {
                            background-color: #2e2e2e;
                        }
                        li.menu-item-has-children {
                            position: relative;
                            &.group {
                                .zo-menu-toggle {
                                    display: none;
                                }
                            }	
                        }
                    }
                    &:hover {
                        > ul.sub-menu {
                            @include box-shadow(0 3px 5px rgba(0, 0, 0, 0.15));
                            margin-top: 0;
                        }
                    }
					.zo-menu-toggle {
						bottom: 3px;
						color: #393939;
						display: inline-block;
						left: 50%;
						line-height: 1;
						opacity: 0.5;
						position: absolute;
						@include transform(translateX(-50%));
					}
                }
            }
            > li, > li a, > ul > li, > ul > li > a {
                display: block;
                text-decoration: none;
				float: left;
            }
            > li ul li, > li ul li a, > ul > li ul li, > ul > li ul li a {
                display: block;
                text-decoration: none;
                text-align: left;
				@extend .google-font-1;
            }
            > li ul ul, > ul > li ul ul {
                width: 215px;
            }
        }
    }
    #zo-header-navigation .main-navigation li li {
        margin: 0;
    }
    #zo-header-navigation .main-navigation li ul {
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 1;
        height: 1px;
        width: 275px;
        top: 100%;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
    }
    /* Menu Stick Wall */
    #zo-header-navigation .main-navigation li ul ul {
        top: 15px;
        left: 100%;
        width: 275px;
        &.back {
            right: 100%;
            left: auto;
            ul:not(.back) {
                right: 100%;
                left: auto;
            }
            ul.back {
                left: 100%;
                right: auto;
                ul:not(.back) {
                    left: 100%;
                    right: auto;
                }
                ul.back {
                    right: 100%;
                    left: auto;
                }
            }
        }
    }
    /* End Menu Stick Wall */
    #zo-header-navigation .main-navigation {
        ul li:hover > ul, ul li:focus > ul, .focus > ul {
            border-left: 0;
            clip: inherit;
            overflow: inherit;
            height: inherit;
        }
        li ul li {
            a {
                padding: 10px 18px;
                line-height: 1.8em;
                white-space: normal;
            }
        }
    }
    /* End Menu Sub Level */

    /* Start Mega Menu */
    #zo-header-navigation .main-navigation {
        .columns2 > li:nth-of-type(2n+1),
            .columns3 > li:nth-child(3n+1),
            .columns4 > li:nth-child(4n+1),
            .columns5 > li:nth-child(5n+1) {
            clear:left;
        }
        .columns5 > li{
            width:20% !important;
        }
        .columns4 > li{
            width:25% !important;
        }
        .columns3 > li{
            width:33% !important;
        }
        .columns2 > li{
            width:50% !important;
        }
        [class*="columns"]  > li {
            float: left;
            > a {
                width: 100%;
            }
        }
        .menu-main-menu li.has_full_width {
            position: inherit;
        }
		.menu-main-menu > li.menu-item-has-children ul.sub-menu:not(.multicolumn){
			padding-top: 30px;
			padding-bottom: 50px;
			min-width: 275px;
			> li > a{
				padding-left: 40px;
				padding-right: 30px;
			}
		}
        .menu-main-menu li:not(.group) > ul.drop_full_width.sub-menu {
            left: 0 !important;
            width: 100% !important;
            background: #141414;
            padding: 60px 100px 80px;
			ul.sub-menu:not(.multicolumn){
				padding-top: 0;
				padding-bottom: 0;
				min-width: 200px;
				padding-right: 20px;
			}
            > li.menu-item-has-children {
                a {
                    padding: 0;
                    line-height: 40px;
                }
                > a {
                    color: #FFF;
                    padding-bottom: 20px;
                    margin-bottom: 16px;
                    position: relative;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: normal;
                    &:after {
                        content: '';
                        position: absolute;
                        width: 23px;
                        height: 3px;
                        background-color: $primary_color;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
            .sub-menu {
                background-color: transparent;
            }
        }
        li.group > ul.sub-menu {
            display: block;
            float: left;
            left: 0;
            position: relative;
            width: 100%;
            height: inherit;
            padding: 0;
        }
        li.title-hide .menu-title { display: none; }
        .widget {
            line-height: 30px;
            text-transform: initial;
        }
    }
    /* End Start Mega Menu */
}

/*
-----> Minimum width of 992 pixels.
*/


/*
-----> Max width of 992 pixels.
*/
@media screen and (max-width: 992px) {
    #zo-header-navigation.collapse {
        background: #222;
        position: absolute;
        top: 80px;
        width: 100%;
    }
    #zo-menu-mobile {
        display: block;
        i {
            background: $primary_color;
            color: #fff;
            cursor: pointer;
            font-size: 32px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            width: 45px;
            &:hover {
                background: #333;
            }
        }
    }
    #zo-header-navigation .main-navigation ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        transition: all 500ms ease;
        li {
            list-style: none;
            a {
                display: block;
                color: #5e5e5e;
                &:hover, &:focus {
                    color: #21759b;
                }
            }
        }
    }
    .collapse .main-navigation div.nav-menu > ul {
        display: block;
        max-height: 2000px;
    }
    #yeah-header-menu #zo-header-navigation .main-navigation {
        padding: 15px 0;
        .menu-main-menu {
            > li > a i {
                display: none;
            }
            li {
                line-height: 31px;
                a {
                    background: transparent;
                    color: #fff;
                }
            }
        }
        ul.sub-menu {
            width: 100% !important;
        }
    }
    /* Dropdown Sub Menu */
    .zo-menu-toggle {
        display: block;
    }
    #zo-header-navigation .main-navigation .menu-main-menu > li {
        position: relative;
        li {
            position: relative;
        }
        a {
            display: block;
            color: #999 !important;
            margin: 0 0 4px!important;
            padding: 0!important;
            &:hover {
                color: #fff !important;
            }
        }
        ul li a {
            font-size: 16px;
        }
        .zo-menu-toggle {
            color: #999;
            cursor: pointer;
            position: absolute;
            right: -5px;
            text-align: center;
            top: 0;
            width: 30px;
            &:hover {
                color: #fff;
            }
        }
        ul.sub-menu {
            max-height: 0;
            overflow: hidden;
            padding-left: 10px;
            @include transition(max-height 600ms linear 0ms);
        }
    }
}
/*
-----> End Max width of 992 pixels.
*/

/* ==========================================================================
  End Style Main Menu
========================================================================== */