/*------------------------------------------------------------------
[All Style Shortcode]

  1. Shortcode Fancy Box
  2. Heading
  3. Shortcode Gird
  4. Shortcode Testimonial
  5. Tab
  6. Counter
  7. Accordion
  8. Progress
  9. Pricing
  10. Blog
  11. Images Carousel
  12. Carousel New Product
  13. Carousel Fancy Box

-------------------------------------------------------------------*/
/* ==========================================================================
   [Start] 1. Shortcode Fancy Box
========================================================================== */
.zo-fancy-box-icon i {
    line-height: normal;
}
/*
----> Fancy Layout 1 Default
*/
.zo-fancybox-layout-default {
    .zo-fancybox-inner {
        text-align: center;
        border: 1px solid $primary_color;
        @include border-radius(10px);
        padding: 15px 10px;
        min-height: 230px;
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            @include background-opacity($primary_color, 0.2);
            @include opacity(0);
            @include transition(opacity 200ms);
        }
        &:hover:after {
            @include opacity(1);
            cursor: pointer;
        }
        .zo-fancy-box-content-icon i,
        .zo-fancy-box-image span {
            display: inline-block;
            color: $primary_color;
            text-align: center;
            font-size: 40px;
        }
        .zo-fancy-box-content-icon,
        .zo-fancy-box-image {
            margin-bottom: 20px;
        }
        .zo-fancy-box-image span {
            line-height: 100px;
        }
        .zo-fancy-box-title {
            margin: 0 0 15px;
            color: #333333;
            text-transform: uppercase;
            font-size: 16px;
        }
    }
}

/* ==========================================================================
   [End] 1. Shortcode Fancy Box
========================================================================== */

/* ==========================================================================
   [Start] 2. Shortcode Pie Chart
========================================================================== */
.heading-1 {
	font-size: 42px;
	font-weight: bold;
	margin: 0;
	line-height: 1.1;
	color: #222;
}
/* ==========================================================================
   [End] 2. Shortcode Pie Chart
========================================================================== */

/* ==========================================================================
   [Start] 3. Grid And Carousel
========================================================================== */
.template-zo_grid--feature-product, .template-zo_carousel--new-product{
	.yeah-grid-item, .yeah-carousel-item {
		text-align: center;
		.yeah-grid-media.has-thumbnail {
			margin-bottom: 29px;
			position: relative;	
			overflow: hidden;
			.onsale {
				top: 7px!important;
				left: 10px!important;
				color: #404040;
				line-height: 1.1;
				position: absolute;
				text-transform: uppercase;
				z-index: 10;
				font-size: 13px;
				font-weight: 700;
				@extend .museo_slab_100;
			}
			.yeah-add-to-cart {
				position: absolute;
				right: 10px;
				bottom: -30px;
				height: 30px;
				overflow: hidden;
				width: 34px;
				@include transition(bottom 0.5s ease);
				a i {
					float: left;
					font-size: 26px;
					margin-left: -1px;
				}
				&:hover {
					i {
						@include animation(0.5s ease 0s normal forwards 1 running spinAround);
					}
				}
			}
			&:hover {
				.yeah-add-to-cart {
					bottom: 10px;
				}
			}
		}
		.yeah-grid-title {
			padding-bottom: 5px;
			text-transform: uppercase;
			a{
				font-size: 18px;
				line-height: 1.1;
				font-weight: bold;
				color: #222;
				@extend .museo_slab_100;
				&:hover {
					color: $primary_color;
				}
			}
		}
		.yeah-grid-content {
			color: #404040;
			padding-bottom: 7px;
			p { margin: 0; }
		}
		.yeah-grid-price {
			font-size: 20px;
			padding-bottom: 7px;
			@extend .museo_slab_300;
		}
	}
}
.template-zo_carousel--new-product {
	position: relative;
	.owl-stage-outer {
		padding-top: 28px;
	}
	div.owl-nav {
		position: absolute;
		top: 0px;
		right: 0;
		@include transform(translateY(-100%));
		@include breakpoint-max(480px){
			left: 0;
			top: 160px;
			width: 100%;
			[class*='owl-'] {
				position: absolute;
			}
			.owl-prev {
				left: 0;
			}
			.owl-next {
				right: 0;
			}
		}
	}
	.yeah-carousel-item .yeah-grid-title{
		padding: 0;
		margin: 0;
	}
}
/* ==========================================================================
   [End] 3. Grid
========================================================================== */

/* ==========================================================================
   [Start] 4. Testimonial
========================================================================== */

/* ==========================================================================
   [End] 4. Testimonial
========================================================================== */

/* ==========================================================================
   [Start] 5. Tabs
========================================================================== */
.yeah-feature-product {
	position: relative;
	.vc_tta.vc_general{
		.vc_tta-tabs-container {
			display: inline-block;
			margin: 0;
			position: absolute;
			right: 15px;
			top: 0;
			ul {
				margin: 0;
				li.vc_tta-tab {
					margin: 0;
					a {
						border: 1px solid #222;
						float: left;
						margin-left: 10px;
						padding: 8px 25px;
						cursor: pointer;
						font-size: 18px;
						color: #404040;
						background: #fff;
						@include border-radius(0);
						@extend .museo_slab_500;
						&:before, &:after {
							border: 0;
						}
					}
					&.vc_active, &:hover {
						a {
							border-color: $primary_color;
							color: $primary_color;
						}
					}
				}
			}
		}
		.vc_tta-panels-container {
			.vc_tta-panels {
				background: #fff;
				border: 0;
				&:before, &:after {
					border: 0;
				}
				.vc_tta-panel {
					margin: 0;
				}
			}
		}
	}
}
/* ==========================================================================
   [End] 5. Tabs
========================================================================== */

/* ==========================================================================
   [Start] 6. Counter
========================================================================== */
.zo-counter-wraper {
    .zo-counter-box {
        position: relative;
        margin: 0 auto;
        padding-bottom: 20px;
        .zo-counter-middle {
            .zo-counter-icon i {
                color: $primary_color;
            }
            .zo-counter {
                font-size: 48px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.1em;
            }
        }

        .zo-counter-title {
            margin: 0;
            font-size: 13px;
            text-transform: none;
            @extend .font-second;
            font-style: italic;
        }
    }
	&.zo-counter-layout-default {
		.zo-counter-body {
			.zo-icon {
				.fa {
					font-size: 46px;
					padding-bottom: 20px;
				}
			}
			.zo-counter {
				font-size: 30px;
				margin-bottom: 10px;
			}
			h3 {
				@extend .font-second;
				font-weight: normal;
				letter-spacing: 0.1em;
				color: #6f6f6f;
				font-style: italic;
			}
		}
	}
}
/* ==========================================================================
   [End] 6. Counter
========================================================================== */

/* ==========================================================================
   [Start] 7. Accordion
========================================================================== */
.wpb_accordion.wpb_content_element {
	.wpb_accordion_wrapper {
		.wpb_accordion_section {
			margin: 0 0 4px;
		}
		.wpb_accordion_header {
			.ui-accordion-header-icon {
				display: none;
			}
			@extend .bg-effect-lg;
			line-height: 50px;
			padding: 0;
			margin: 0;
			border: 2px solid #1a9eb9;
			@include border-radius(4px);
			&.ui-state-active {
				@include border-radius(4px 4px 0 0);
			}
			a {
				padding: 1em 15px;
				color: #fff;
				font-size: 21px;
				line-height: 25px;
				font-weight: 700;
				@include box-shadow(none);
				i {
					font-size: 18px;
					padding-right: 12px;
					padding-left: 2px;
				}
			}
		}
		.wpb_accordion_content {
			padding: 10px 20px !important;
			border-width: 0 2px 2px 2px;
			border-style: solid;
			@include border-radius(0 0 4px 4px);
		}
	}
}
/* ==========================================================================
   [End] 7. Accordion
========================================================================== */

/* ==========================================================================
   [Start] 8. Progress
========================================================================== */
.zo-progress-wraper {
    .progress .progress-bar {
        transition-duration: 1s;
    }
}
.zo-progress-layout-default {
    padding-top: 40px;
    .zo-progress-main {
        &.bar-icon {
            padding-left: 50px;
            position: relative;
        }
        .zo-progress-icon {
            position: absolute;
            left: 0;
            i {
                color: #8f8f8f;
                font-size: 34px;
            }
        }
        .zo-progress {
            overflow: visible;
            background-color: $primary_color;
            border: 2px solid $primary_color;
            height: 38px;
            width: 100%;
            position: relative;
            margin: 0 0 10px;
            @include box-shadow(none);
            .zo-progress-title {
                position: absolute;
                top: 50%;
                left: 15px;
                font-size: 18px;
                font-weight: 700;
                color: #fff;
                z-index: 1;
                @include transform(translate(0px, -50%));
            }
            @include border-radius(3px);
            .progress-bar {
                width: 20%;
                overflow: visible;
                @extend .bg-effect-lg;
                @include box-shadow(none);
                background-color: $primary_color;
                line-height: 40px;
                text-align: right;
                padding: 0 15px;
                span {
                    color: #fff;
                    font-size: 15px;
                    font-weight: 700;
                    position: absolute;
                    right: -44px;
                    top: -39px;
                    height: 29px;
                    line-height: 28px;
                    padding: 0 8px;
                    @include border-radius(4px);
                    &:before {
                        position: absolute;
                        height: 0;
                        width: 0;
                        content: "";
                        border-width: 5px;
                        border-style: solid;
                        bottom: -10px;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
            }
        }
    }
}
/* ==========================================================================
   [End] 8. Progress
========================================================================== */

/* ==========================================================================
   [Start] 9. Pricing
========================================================================== */
.zo-grid-pricing {
    .zo-pricing-item {
        .zo-pricing-inner {
            text-align: center;
            border: 1px solid #ececec;
            @include transition(all 200ms ease-in-out);
            .zo-pricing-meta-wrap {
                .option-item {
                    font-size: 12px;
                    line-height: 48px;
                    .fa {
                        padding-left: 20px;
                        color: $primary_color;
                    }
                }
                margin-bottom: 40px;
            }
            .zo-pricing-price-wrap {
                color: #141414;
                margin-bottom: 40px;
                .price {
                    font-size: 50px;
                }
                sup {
                    font-size: 18px;
                    top: -25px;
                }
                sub {
                    font-size: 14px;
                    font-style: italic;
                    @extend .font-second;
                    text-transform: lowercase;
                }
            }
        }
    }
}

/* ==========================================================================
   [End] 9. Pricing
========================================================================== */

/* ==========================================================================
   [Start] 10. Zo Grid
========================================================================== */
.zo-grid-wraper {
    .yeah-grid-filter {
        margin-bottom: 40px;
        ul {
            padding: 0;
            margin: 0;
            list-style: none inside;
            text-align: center;
            li {
                display: inline-block;
                margin-bottom: 16px;
                a {
                    border: 1px solid #dedede;
					font-size: 10px;
					font-weight: 600;
					padding: 5px 25px;
					text-transform: uppercase;
					letter-spacing: 0.1em;
                    &.active, &:hover {
                        border-color: $primary_color;
                    }
                }
				+ li{
					margin-left: 16px;
				}
            }
        }
    }
    &.no-padding {
        .zo-grid {
            .zo-grid-item {
                padding: 0;
                margin: 0;
				.zo-team-wrap {
					padding-bottom: 0;
				}
            }
        }
    }
}
/* ==========================================================================
   [End] 10. Zo Grid
========================================================================== */

/* ==========================================================================
   [Start] 10. Zo Masonry
========================================================================== */
.zo-masonry-wrapper {
    .zo-masonry-filter {
        margin-bottom: 40px;
        ul {
            padding: 0;
            margin: 0;
            list-style: none inside;
            text-align: center;
            li {
                display: inline-block;
                margin-right: 16px;
                margin-top: 15px;
                a {
                    display: block;
                    font-size: 10px;
                    padding: 5px 25px;
                    border: 1px solid #DEDEDE;
                    text-transform: uppercase;
                    font-weight: normal;
                    &.active, &:hover {
                        border-color: $primary_color;
                    }
                }
            }
        }
    }
}
/* ==========================================================================
   [End] 10. Zo Masonry
========================================================================== */

/* ==========================================================================
   [Start] 11. Images Carousel
========================================================================== */
.wpb_images_carousel {
    .vc_item {
        text-align: center;
    }
    &.no-padding {

    }
    .vc_images_carousel.vc_per-view-more .vc_carousel-slideline .vc_carousel-slideline-inner > .vc_item > .vc_inner {
        padding: 0;
        margin: 0;
    }
    &.overlay {
        .vc_item, .slick-slide  {
            img {
                opacity: 0.6;
            }
            &:hover {
                img {
                    opacity: 1;
                }
            }
        }

    }
    &.green {
        .slick-dots li.slick-active button::before {
            color: $primary-color ;
        }
    }
    .slick-dots li.slick-active button::before {
        color: $primary_color;
    }
    .vc_slide {
        .vc_carousel-control {
            border-radius: 100%;
            border: 2px solid #FFF;
            display: block;
            height: 50px;
            opacity: 1;
            width: 50px;
            line-height: 47px;
            margin: 0;
            top: 50%;
            color: #fff;
            text-shadow: none;
            @include transform(translate(0px, -50%));
            @include text-shadow(none);
            font-size: 22px;
            &:hover {
                background-color: rgba(255,255,255, 0.5);
            }
            span {
                display: none;
            }
            &.vc_left {
                left: 15px;
                &:before {
                    content: "\f053";
                    font-family: FontAwesome;
                }
            }
            &.vc_right {
                right: 15px;
                &:before {
                    content: "\f054";
                    font-family: FontAwesome;
                }
            }
        }
    }
}
@include breakpoint-max(768px){
	.wpb_images_carousel{
		.vc_images_carousel{
			.vc_carousel-inner{
				.vc_carousel-slideline{
					width: 100% !important;
					.vc_carousel-slideline-inner{
						.vc_item{
							width: 100% !important;
							height: auto !important;
							+ .vc_item{
								margin-top: 50px;
							}
						}
					}
				}
			}
		}
	}
	.wpb_images_carousel.about-us-carousel-2{
		.vc_images_carousel .vc_carousel-inner .vc_carousel-slideline .vc_carousel-slideline-inner .vc_item + .vc_item{
			margin-top: 0px;
		}
	}
}
@include breakpoint-max(992px){
	.wpb_images_carousel{
		.zo_images_carousel-wrap{
			text-align: center;
			.zo_images_carousel > div + div{
				margin-top: 50px;
			}
		}
	}
}	
/* ==========================================================================
   [End] 11. Images Carousel
========================================================================== */


/** [Start]Heading page
============================*/
.heading{
    h1, h2, h3, h4, h5, h6{
        text-transform: uppercase;
    }
}
/** [End]Heading page
============================*/

/** [Start]List shortcode page
============================*/
.list{
    a{
        color: #868686;
        padding-left: 20px;
    }
    li{
        list-style: none inside;
        &:before {
            content: "\f067";
            height: 1px;
            color: $primary_color;
            font: normal normal normal 14px/1 FontAwesome;
        }
    }
}
.list-right{
    a{
        color: #868686;
        padding-left: 20px;
    }
    li{
        list-style: none inside;
        &:before {
            content: "\f111";
            height: 1px;
            color: $primary_color;
            font-size: 10px ! important;
            font: normal normal normal 14px/1 FontAwesome;
        }
    }
}
/** [End]List shortcode page*/

/** [Start]Heading Accordion Toggle page*/
.wpb_accordion_section {
    .wpb_accordion_header {
        background: #f8f8f8;
        border: none ! important;
        border-radius: 0 ! important;
        &:hover{
            background: $primary_color ! important;
        }
        a {
            font-weight: 400;
            letter-spacing: 2px;
            font-size: 14px ! important;
            color:#333 ! important;
            text-transform: uppercase ! important;
        }

        &.ui-state-active {
            background: $primary_color ! important;
            border-radius: 0 ! important;
        }
    }

    .wpb_accordion_content {
        border: none ! important;
        padding: 0 ! important;
    }
}

/** [End]Heading Accordion Toggle page*/

/** [Start] charts page*/
.vc_pie_chart {
    .vc_pie_wrapper {
        margin-bottom: 40px ! important;
    }
}

.vc_progress_bar {
    .vc_single_bar {
        margin-bottom: 60px;
        border-radius: 0;
        background: none!important;
        box-shadow: none!important;
        .vc_bar_wrap {
            background: #909090 none repeat scroll 0 0;
            border-radius: 3px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
            width: 100%;
            height: 15px;
            position: relative;
            .vc_bar {
                border-radius: 0;
            }
        }
        .vc_label {
            font-size: 11px;
            padding-left: 0 !important;
			padding-right: 0 !important;
            color: #333333 ! important;
            .vc_percent{
                float: right;
                font-size: 11px;
				&:after {
					color: #909090;
					content: "\f0d7";
					font-family: FontAwesome;
					font-size: 16px;
					margin-left: 10px;
				}
            }
        }
    }
}
/** [End]charts page*/

/** [Start] text highlight page*/
.highlight1{
    mark{
        background: $primary_color;
    }
}
.highlight2{
    mark{
        background: $primary_color;
        color: #fff;
    }
}
.highlight3{
    mark{
        background: #fff;
        color: #808080;
    }
}
.highlight4{
    mark{
        background: $primary_color;
        color: #333;
    }
}
/** [End]charthighlights page*/


/** Custome Heading
================================================*/
.zo-custom-heading {
	.center {
		text-align: center;
	}
	.left {
		text-align: left;
	}
	.right {
        float: none;
		text-align: right;
	}
}
/** Carousel Wrap
================================================*/
.zo-carousel-purchase {
	.vc_btn3-container {
		.vc_btn3 {
			background: #fff;
			display: inline-block;
			width: 100%;
			@include breakpoint-in(768px,800px){
				padding: 16px 26px !important;
			}
			@include breakpoint-in(800px,980px){
				padding: 16px 30px !important;
			}
			&:hover {
				color: #fff !important;
				background: $primary_color;
			}
		}
	}
}
.zo-carousel-wrap {
	.yeah-carousel {
		display: none;
		&.owl-theme {
			display: block;
			@include animation(0.7s ease fadeIn);
		}
	}
	.zo-carousel-filter {
		ul {
			margin-bottom: 40px;
			text-align: center;
			padding: 0;
			list-style: none;
			li {
				border: 1px solid #696969;
				display: inline-block;
				margin-right: 16px;
				margin-bottom: 5px;
				@include breakpoint-max(768px){
					margin-right: 0;
				}
				a {
					padding: 5px 15px;
					text-transform: uppercase;
                    display: block;
					color: #fff;
					&:hover {
						color: $primary_color;
					}
				}
			}
		}
	}
}
/** Features
================================================*/
.list-icon, .list-primary, .list-number {
	li{
		font-size: 12px;
		margin-bottom: 15px;
		.fa {
			font-size: 18px;
		}
	}
}

.list-icon {
	list-style: none;
	padding-left: 0;
	.fa {
		background: #909090;
		border-radius: 50%;
		color: #fff;
		font-size: 15px;
		height: 25px;
		line-height: 22px;
		text-align: center;
		vertical-align: middle;
		width: 25px;
		margin-right: 14px;
	}
}
.list-primary {
	list-style: none;
	padding-left: 0;
	.fa {
		color: $primary_color;
		margin-right: 24px;
	}
}
.list-number {
	list-style: none;
	padding-left: 0;
	counter-reset: numList;
	overflow: hidden;
	li{
		padding-left: 48px;
		&:before {
			border: 1px solid #ededed;
			border-radius: 50%;
			color: #141414;
			content: counter(numList);
			counter-increment: numList;
			height: 25px;
			left: 17px;
			line-height: 25px;
			position: absolute;
			text-align: center;
			width: 25px;
		}
	}
}


/**
* VC Images Carousel
* Slick Slider
**/
.zo_images_carousel-wrap {
    .zo_images_carousel {
        .slick-list {
            .slick-slide {
                text-align: center;
                outline: none;
                img {
                    display: inline-block;
                }
            }
        }
    }
    .slick-slider {
        .slick-arrow {
            width: 35px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            z-index: 99;
            background-color: #FFF;
            &:before {
                color: #141414;
                line-height: inherit;
            }
            &.slick-prev {
                left: 25px;
            }
            &.slick-next {
                right: 25px;
            }
        }
    }
    .zo_images_carousel_nav {
        &.slick-slider {
            .slick-arrow {
                text-align: center;
                z-index: 99;
                top: 0;
                width: 30px;
                background-color: $primary_color;
                height: 100%;
                margin: 0;
                padding: 0;
                &:before {
                    color: #FFF;
                    line-height: inherit;
                }
                &.slick-prev {
                    left: 0;
                }
                &.slick-next {
                    right: 0;
                }
            }
            .slick-slide {
                padding: 0 5px;
                &.slick-current {
                    span {
                        position: relative;
                        display: block;
                        &:before {
                            content: '';
                            @include background-opacity($primary_color, 0.8);
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.main-category-content {
	text-align: center;
	background: #eeeeee;
    padding: 30px;
	h3 {
		text-transform: uppercase;
		padding-bottom: 14px;
		font-size: 24px;
		margin: 0;
		line-height: 1.1;
		color: #222222;
		@extend .museo_slab_100;
	}
	p {
		border-top: 1px solid #959595;
		padding: 10px 0 22px;
	}
}

/*==========================================*
* 13. Carousel Fancy Box                    *
*===========================================*/
.template-zo_fancybox {
	position: relative;
	.yeah-fancybox-item {
		.yeah-fancybox-inner {
			.yeah-fancybox-details {
				position: absolute;
				left: 40px;
				top: 25%;
				.yeah-fancybox-content-title {
					h2 {
					font-size: 48px;
					color: #fff;
					max-width: 380px;
					line-height: 50px;
					padding-bottom: 10px;
					@extend .museo_slab_100;
						strong {
							@extend .museo_slab_500;
						}
					}
				}
			}
		}
	}
	.owl-theme .owl-dots{
		position: absolute;
		bottom: 22px;
		left: 40px;
		.owl-dot {
			span {
				margin: 0 4px 0 0;
				display: block;
				width: 11px;
				height: 11px;
				background: #fff;
				border-radius: 100%;
			}
			&.active {
				span {
					width: 15px;
					height: 16px;
					top: 2px;
					position: relative;
					background: url(../images/selected-bullet.png) no-repeat;
				}
			}
		}
	}
}