/*------------------------------------------------------------------
[All Style Sidebar Widget]

    1. Widget Search
	2. Widget Category
	3. Widget Tags

-------------------------------------------------------------------*/
/* ==========================================================================
   [Start] 1. Widget Search
========================================================================== */
.searchform,
.woocommerce-product-search {
    position: relative;
    margin-bottom: 16px;
    &:before {
	    font-size: 18px;
	    position: absolute;
	    right: 10px;
	    top: 10px;
	    content: "\f002";
	    font-family: FontAwesome;
	}
	.screen-reader-text {
	    display: none;
	}
	input[type="text"],
    input[name="s"],{
	    width: 100%;
	    margin: 0;
        height: 50px;
		line-height: 50px;
        display: block;
        @include border-radius(0);
        box-sizing: border-box;
        font-style: italic;
        @extend .font-second;
        padding: 0 15px;
	}
	input[type="submit"] {
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 35px;
	    height: 50px;
	    line-height: 50px;
	    background: none;
	    border: none !important;
	    text-indent: -99999px;
	    opacity: 0;
	    padding: 0;
        &:hover {
            background-color: rgba(0, 0, 0, 0.2)!important;
            opacity: 0.4;
        }
	}
}
/* ==========================================================================
   [Start] 2. Widget Search
========================================================================== */

/* ==========================================================================
   [Start] 3. Widget Tags
========================================================================== */
.tagcloud a {
    font-size: 16px!important;
    line-height: 30px;
    line-height: 1.1;
    padding: 8px 20px;
    color: #f0f0f0;
    margin: 0 5px 5px 0;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #ececec;
	@extend ..google-font-1;
    @include border-radius(0);
	@include transition(all 500ms ease);
    &:hover {
        color: #222 !important;
		background: #fff;
	}
}
/* ==========================================================================
   [End] 3. Widget Tags
========================================================================== */

/* ==========================================================================
   [Start] 4. Instagram
========================================================================== */
.zo-instagram-pics {
	.instagram-item {
	    margin: 0 0 16px;
	    padding: 0 8px;
        a {
            display: block;
            position: relative;
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $primary_color;
                opacity: 0;
                @include transition(all 200ms ease-in-out);
            }
            &:after {
                content: "\f002";
                color: #FFF;
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
                font-size: 20px;
                opacity: 0;
                @include transition(all 200ms ease-in-out);
                font-family: FontAwesome;
            }
            &:hover {
                &:after, &:before {
                    opacity: 1;
                }
            }
        }
	}
}
.zo-get-touch li {
	position: relative;
	padding-left: 30px;
	i {
		font-size: 20px;
		color: #808080;
		padding-right: 10px;
		position: absolute;
		top: 0;
		left: 0;
	}
}
/* ==========================================================================
   [End] 4. Instagram
========================================================================== */

/* ==========================================================================
   [Start] 5. Twitter
========================================================================== */
.tweets-container {
    ul {
        list-style: none inside;
        margin: 0; padding: 0;
        li {
            font-size: 11px;
            line-height: 18px;
            margin-bottom: 25px;
            .jtwt_date {
                color: #3a3a3a!important;
                .fa {
                    padding-right: 18px;
                }
            }
        }
    }
}
/* ==========================================================================
   [Start] 5. Zo Recent Post
========================================================================== */

.zo-recent-post {
    margin-top: 40px;
    .zo-recent-post-wrapper {
        margin-left: 0;
        > li {
            margin: 0 0 40px;
            clear: both;
            line-height: normal;
            &:last-child {
                margin: 0;
            }
        }
        .zo-recent-media {
            width: 70px;
            max-width: 70px;
            float: left;
        }
        .zo-recent-details {
            padding-left: 100px;
            font-size: 14px;
            &.no-image {
                padding: 0;
            }
            .title {
                font-size: 16px;
                margin: 0 0 10px;
                color: #141414;
                font-weight: normal;
                letter-spacing: 0;
                line-height: normal;
                a {
                    color: #141414;
                }
            }
            .date {
                display: inline-block;
                .author {
                    padding-left: 1px;
                    &:before {
                        content: "|";
                        padding-right: 3px;
                    }
                }
            }

            .post-categories {
                margin: 0;
                li {
                    line-height: normal;
                    a {
                        @extend .font-second;
                        font-style: italic;
                        font-size: 16px;
                        color: #6f6f6f;
                    }
                }
            }

        }
    }
}
#secondary .zo-recent-post-wrapper {
	.zo-recent-details .date {
		color: $primary_color;
	}
}

/**
* Calendar Widget
*/
.widget_calendar table {
	width: 100%;
    caption {
        text-align: center;
        font-weight: bold;
    }
	td {
		text-align: center;
	}
}

/**
* Products Rate
*/
.widget_top_rated_products {
    .product_list_widget {
        li {
            overflow: hidden;
            margin-bottom: 30px !important;
            a {
                img {
                    float: left;
                    width: 70px;
                    height: 75px;
                    margin-right: 30px;
                }
                .product-title {
                    float: left;
                    color: #141414;
                    font-size: 12px;
                    width: calc(100% - 105px);
                    line-height: normal;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    font-weight: normal;
					word-wrap: break-word;
                }
            }
            .amount {
                @extend .font-second;
                font-size: 18px;
                font-style: italic;
                letter-spacing: 0.1em;
                color: #141414;
            }
			ins{
				text-decoration: none;
			}
        }
    }
}

/**
* Filter
*/
.widget_price_filter .price_slider_wrapper {
    position: relative;
    padding-top: 30px;
    .price_slider {
        background-color: #909090!important;
        @include border-radius(0!important);
        .ui-slider-handle {
            width: 20px;
            height: 20px;
            top: -7px;
            left: -10px;
            background-color: $primary_color;
        }
        .ui-slider-range {
            background-color: #141414;
        }
    }
    .price_slider_amount {
        .price_label {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            text-align: center;
            font-size: 13px;
            color: #6f6f6f;
        }
        .button {
            margin-top: 55px;
            @include border-radius(0);
            border: 2px solid #e4e4e4;
            padding: 10px 25px;
        }
    }
}


/**
* News Tabs
*/
.widget_ww_news_tabs {
    .tab-holder .tab-hold {
        .nav-tabs {
            overflow: hidden;
            border-left: 1px solid #ECECEC;
            border-right: 1px solid #ECECEC;
            li {
                background-color: #f2f2f2;
                border: none;
                border-top: 2px solid transparent;
                display: block;
                float: left;
                width: 50%;
                text-align: center;
                letter-spacing: 0.1em;
                font-size: 12px;
                a {
                    display: block;
                    border: none!important;
                }
                &.active {
                    background-color: transparent;
                    border-top-color: $primary_color;
                }
            }
        }
    }
    .tab-content {
        margin: 0;
        border-width: 0 1px 1px 1px;
        .tab-pane {
            padding: 40px 20px 0;
			@include breakpoint-in(768px,992px){
				padding-left: 5px;
				padding-right: 5px;
			}
        }
        .news-list {
            margin: 0;
            li {
                width: 100%;
                clear: both;
                overflow: hidden;
                margin-bottom: 40px;
                .zo-image {
                    width: 70px;
                    height: 70px;
                    float: left;
                    + .zo-details {
                        padding-left: 100px;
                    }
                }
                .zo-details {
                    line-height: normal;
                    h4 {
                        font-size: 16px;
                        line-height: normal;
                        font-weight: 400;
                        letter-spacing: 0;
                        margin: 0 0 5px;
                        padding: 0;
                    }
                    a {
                        @extend .font-second;
                        font-style: italic;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
/*
* Recent Comments
*/
.widget_recent_comments{
	.recentcomments{
		color: #c8c8c8;
	}
}
/**
* Rss Widget
*/
.widget_rss{
    ul li {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $primary_color;
    }
	.rssSummary{
		line-height: 30px;
	}
}

/* Lastet new, recent post with thumb */
.wpb_widgetised_column .widget.widget_zo-recent-posts-widget-with-thumbnails{
    margin-bottom: 0;
}
.widget_zo-recent-posts-widget-with-thumbnails{
    ul{
        li{
            display: inline-block;
            max-width: 370px;
            overflow: hidden;
            + li{
                margin-left: 26px;
            }
            .zo-post-title h3{
                line-height: 18px; margin-top: 19px;
                letter-spacing: 0; text-transform: capitalize;
                margin-bottom: 0;
            }
            .zo-post-content{
                p{
                    color: #6f6f6f;
                    line-height: 24px;
                    margin-bottom: 35px;
                    margin-top: 25px;
                }
            }
        }
    }
}

.widget_newsletterwidget {
	form {
		position: relative;
		margin-top: 27px;
		input[type="text"] {
			background: #fff;
			border: 0;
			height: 56px;
			width: 90%;
			padding: 0 5%;
			color: #222;
		}
		input[type="submit"] {
			width: 64px;
			height: 53px;
			background: url(../images/email-icon.png) no-repeat center center #ee3b24;
			border: 0;
			position: absolute;
			right: 0;
			top: 0;
			text-indent: 9999px;
		}
	}
}
/*Add Widget Deals Woo*/
.widget_yeah_deals_widget {
  .yeah-weekend-deals-widget-top {
    background: #98D06E;
    color: #fff;
    padding: 36px 30px 43px;
    text-align: center;
    margin-bottom: 1px;
    h3{
      font-size: 30px;
      display: block;
      color: #fff;
      padding: 15px 0 0;
    }
  }
  .yeah-countdown-content {
    background: #222222;
    padding: 43px 40px 20px;
    position: relative;
    text-align: center;
    h2.yeah-title-countdown{
      left: 50%;
      position: absolute;
      top: -24px;
      padding: 10px 20px 7px;
      background: #fff;
      font-size: 22px;
      margin-left: -70px;
    }
    .yeah-countdown-inner {
      div.clock {
        div{
          background: #393939;border-bottom: 3px solid #ffffff;
          color: #fff; display: inline-block;
          font-size: 22px; font-weight: 600;
          line-height: 25px;  margin: 0 2%; padding: 17px;
          width: 21%; text-transform:uppercase;
            span{
              display:block;
              font-weight:300;
              font-size:15px;
              @extend .font-second;

            }
          }
        }
      }

    }

}